.providerContainer{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.providerContainer .textContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  
}

.providerContainer .textContainer h1 {
  font-size: 36px;
}
.providerContainer .textContainer .aiText {
  color: rgb(197, 90, 108);
}


.sliderContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}