.heroContainer{
  width: 100%;
  height: 400px;
  background-color: white;
  margin-top: -2%;
  z-index: 10;
  position: relative;
  display: flex;

}

.heroLeftContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 50px 0;
  width: 50%;
}

.heroLeftTop{
  line-height: 0;
}

.heroLeftTop .topTitle {
  font-size: 12px;
  color: rgb(214, 117, 133);
}

.heroLeftTop H1{
  font-size: 60PX;
}

.heroLeftTop .bottomTitle{
  font-size: 34px;
  padding-top: 10px;
}


.heroLeftBottom p {
  color: gray;
  font-size: 14px;
}

.heroLeftBottom button{
  height: 2.6rem;
  width: 8.5rem;
  background: rgb(197, 90, 108);
  color: white;
  border: none !important;
  border-radius: 20px;
  cursor: pointer;
}




.heroRightContainer{
  position: relative;
  width: 50%;
}

.heroRightContainer .dataLabel{
  width: 300px;
  height: 150px;
  background: #90eae4;
  border-radius: 15px;

  position: absolute;
  top: -2rem;
  right: 4.5rem;
}

.heroRightContainer .rightContainerPic{
  position: absolute;
  top: -2rem;
  right: 24rem;
  max-width: 180px;
  width: 140px;
  height: 160px;
}

.heroRightContainer .rightContainerPic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;

}


.heroRightContainer .rightContainerPic2{
  width: 200px;
  height: 220px;

  position: absolute;
  top: 8rem;
  right: 4.5rem;
}

.heroRightContainer .rightContainerPic2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.heroRightContainer .progressMeter{
  position: absolute;
  top: 9rem;
  right: 18rem;
}