.topCircle {
  /* position: absolute; */
  /* top: -15%;
  left: 41%; */

  margin: 0 auto ;
  margin-top: -150px;
  width: 100%;
  z-index: 1;
  height: 240px;
  width: 300px;
  border-width: 10px;
  border-radius: 50%;
  border-color: pink;
  border-style: solid;
  border-top: 0;
}

.bottomCircle {
  /* position: absolute; */
  width: 100%;
  z-index: 1;
  margin-left: auto;
  margin-top: -12px;
  height: 240px;
  width: 300px;
  border-width: 10px;
  border-radius: 50%;
  border-color: pink;
  border-style: solid;
  /* border-bottom: 0; */
}


.footerCircle {
    position: absolute;
    width: 100%;
    z-index: 0.51;
    top: -10rem;
    right: -10rem;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-radius: 50%;
    border-color: rgb(133, 201, 17);
    border-style: solid;
    /* border-bottom: 0; */
}