.categoryContainer{
  width: 280px;
  max-width: 280px;
  height: 130px;
  border: 1px solid rgb(230, 227, 227);
  border-radius: 10px;
  display: flex;
  flex: 4;
}

.categoryContainer .imageContainer{
  /* flex: 1; */
  padding: 25px 0 30px 15px;
}
.imageContainer img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.categoryContainer .textContainer{
  flex: 2;
  padding-top: 20px;
  padding-left: 5px;

}

.textContainer .titleText{
  border: 1px solid rgb(230, 227, 227);
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding-left:5px ;
  padding-bottom: 5px;
  line-height: 0;
  border-radius: 5px;
}

.textContainer .titleText p{
  font-size: 20px;
  padding-bottom: 5px;
}

.textContainer .titleText span{
  font-size: 12px;
  padding-bottom: 5px;
}

.textContainer .copywriting{
  background: rgb(218, 230, 241);
  color: gray;
  padding: 0 8px 5px;
  border-radius: 2px;
  font-size: 12px;
}

.iconsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 5px 7px 25px;
}

.starContainer{
  position: relative;
}

.starContainer .badge {
  position: absolute;
  top: 0;
  left: -28px;
  color: rgb(85, 150, 203);
  font-size: 13px;
}
